{% extends "template.html" %}
{% block content %}
<div class= "bg-body-tertiary text-center">
        <div class="row justify-content-md-center">
            <h1>Login</h1>
            <div class="col-md-auto">
                <form method="POST" action="{{ url_for('auth') }}">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><label>Usernames:</label> <input class="form-control" type="text" name="username" required></p>
                    <p><label>Password:</label> <input class="form-control" type="password" name="password" required></p>
                    <p><button class="btn btn-primary" type="submit">Log in</button></p>
                </form>
            </div>
            
    </div>
</div>

</div>


{% endblock %}